%h1
  職人ランキング

%hr

.user-ranking
  - @users.each do |user|
    .media
      .media-left
        = image_tag user.gravatar_url
      .media-body
        .user-ranking__user-name
          - if user_signed_in?
            = link_to user.email, my_user_path(user)
          - else
            = user.email
        .user-ranking__user-info
          ボケ評価合計 :
          %strong= user.total_evaluation_point
