- if @theme.new_record?
  - url = my_themes_path
- else
  - url = my_theme_path(@theme)

= simple_form_for(@theme, url: url) do |f|
  = f.input :uri, label: '画像の url を入力して下さい'
  = f.association :category, label_method: :name, as: :radio_buttons, label: 'カテゴリを選択して下さい'
  = f.submit '投稿', class: 'btn btn-primary'
